<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972131330382-ds4bcpf4akfi68fo86o1cvgnempchef0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972131330382-ds4bcpf4akfi68fo86o1cvgnempchef0</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ2vp37tcCBaFh3iQF5ZAQO2KdJ0mfBtY</string>
	<key>GCM_SENDER_ID</key>
	<string>972131330382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meshplusplus.mesh</string>
	<key>PROJECT_ID</key>
	<string>meshplusplus-app</string>
	<key>STORAGE_BUCKET</key>
	<string>meshplusplus-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972131330382:ios:8a30cf6aeddc6ef003d61f</string>
	<key>DATABASE_URL</key>
	<string>https://meshplusplus-app.firebaseio.com</string>
</dict>
</plist>